*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Inter', sans-serif;
}

.container{
   max-width: 1600px;
   margin: 100px auto;
   padding: 16px 120px;
   display: flex;
   justify-content: space-between;
   align-items:center;
   /* background-color: #e48080; */
}
.logo img{
   width: 100px;
}


nav ul{
   display: flex;
   gap: 30px;
   list-style: none;
}
nav ul li a{
   text-decoration: none;
   color: #000000;
   font-size: 16px;
   font-weight: 600px;
}
.btn{
   background-color:#469165;
   color: #ffffff;
   font-size: 20px;
   font-weight: 700;
   border: none;
   border-radius: 5px;
   padding: 12px 16px;
   cursor: pointer;
}

.hero-content{
   width: 1360px;
   margin: 0 auto;
   padding: 70px 120px 134px 120px; 
   background: url('./images/hero-bg.png') no-repeat center;
   text-align: center;
   background-size: cover;
}
.badge{
  display: inline-block;
  color: #469165;
  margin-bottom: 40px;
  padding: 8px 16px;
  background-color: #ffffff;
  border: none;
  border-radius: 30px;
  font-size: 16px;
}
h1{
   color: #ffffff;
}
h1 span{
   color: #469165;
}
.hero-content p{
   color: #ffffff;
   font-size: 18px;
   margin-top: 16px;
   line-height: 24px;
}

#about .about-container{
   max-width: 1600px;
   margin: 0 auto;
   /* background-color: beige; */
   padding: 0px 120px;
   
}
.section-heading{
   width: 1360px;
   text-align: center;
   margin: 0 auto;
   /* background-color: aquamarine; */
}
.section-heading h2{
   font-size: 48px;
   padding-top: 50px;
   color: #001931;
   font-weight:bold;

}
.section-heading p{
   font-size: 16px;
   margin-top: 16px;
   color: #627382;
}

.card{
   display: flex;
   gap : 30px;
   margin-top: 40px
}
.card-box{
  padding: 24px;
  max-width: 322px;
  height: 300px;
  box-shadow: 0px 0px 8px 0 #00000027;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-box img{
   width: 30px;
   background-color:#F95555 ;
   padding:8px;
   border-radius: 50%;
   margin: 10px 0 20px 0;
}
.card-box h3{
   font-size: 24px;
   color: #001931;
   font-weight: 700;
}
.card-box p{
   font-size: 16px;
   margin-top: 16px;
   color: #627382;
   line-height: 20px;
}

.cta-container{
   max-width: 1600px;
   margin: 0 auto;
   background-color: #FFFFFF;
   padding:0px 120px 120px 120;
   text-align: center;
   
}
.cta-content{
   max-width: 1360px;
   padding: 80px 40px;
   background-color: #F7F6F2;
   margin: 0 auto;
}
.cta-content h2{
   font-size: 40px;
   color: #001931;
   font-weight: bold;
   margin-bottom: 16px;
}
.cta-content p{
   color: #627382;
   font-size: 16px;
   margin-bottom: 24px;
   line-height: 24px;
}
.cta-btn{
   margin-bottom: 24px;
}

/* FOOTER */
.footer-container{
   max-width: 1600px;
   margin: 0 auto;
   background-color: #001931;
   padding: 120px 120px 0px 120px;

   
}
.footer-content{
   width: 1360px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom:80px;
}
.icon .fa-brands{
   color: #ffffff;
   cursor: pointer;
}
.footer p{
   color: #627382;
   font-size: 16px;
   text-align: center;
   margin-bottom: 40px;
}